.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 10;
    background-color: #212529;
    color: white;
    width: 700px;
    max-width: 80%;
    transition: 200ms ease-in-out;
}

.modal.turnon{
    transform: translate(-50%, -50%) scale(1);
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em 1em;
}

.headline{
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: #43aa8b;
}

.btn__close{
    position: static;
    width: auto;
    color: #43aa8b;
    font-size: 2em;
}

ul{
    list-style: none;
    width: 90%;
}

ul li{
    padding: .3em 0;
    line-height: 1.5em;
}

#overlay{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.3);
    pointer-events: none;
    transition: 200ms ease-in-out;
}

#overlay.turnon{
    pointer-events: all;
    opacity: 1;
}